.Delete-Driver-Button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 50%;
}

.Delete-Driver-Button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}