@namespace DispatchManager.Component

<input form="text" id="mechId" @bind="mechid" class="form-control" placeholder="Enter Mechanic ID" />
<input form="text" id="mechfname" @bind="mechfname" class="form-control" placeholder="Enter Mechanic First Name" />
<input form="text" id="mechId" @bind="mechlname" class="form-control" placeholder="Enter Mechanic Last Name" />
<input type="number" id="mechId" @bind="experience" class="form-control" placeholder="Enter Mechanic's years of experience" />

<button @onclick="Hire">Hire</button>
@code {
	private string mechid;
	private string mechfname;
	private string mechlname;
	private int experience;

	private async Task Hire()
	{
        string query = "INSERT INTO mechanic VALUES (@mechid, @mechfname, @mechlname, @experience)";

        // Parameters for the query
        var parameters = new MySqlParameter[]
        {
            new MySqlParameter("@mechid", mechid),
            new MySqlParameter("@mechfname", mechfname),
            new MySqlParameter("@mechlname", mechlname),
            new MySqlParameter("@experience", experience)
        };

        // Execute the query
        await DatabaseService.ExecuteNonQueryAsync(query, parameters);
	}

}
