@namespace DispatchManager.Components

	<input form="text" id="driverId" @bind="newName" class="form-control" placeholder="@driverName" />
	<button @onclick="CompleteEdit" class="confirm-button">Confirm</button>

@code {
	[Parameter]
	public string driverID { get; set; }
	[Parameter]
	public string driverName { get; set; }
	[Parameter]
	public EventCallback<bool> onEditComplete { get; set; }

	private string newName;

	private async Task CompleteEdit()
	{
		string query = "UPDATE driver SET drivername = @newName WHERE driverid = @driverID";
		var parameters = new[]
		{
				new MySqlParameter("@newName", newName),
				new MySqlParameter("@driverID", driverID)
		};

		await DatabaseService.ExecuteNonQueryAsync(query, parameters);

		await onEditComplete.InvokeAsync(true);
	}
}
