@page "/driver-login"
@rendermode InteractiveServer
@using DispatchManager.Services
@using System.Data
@using MySql.Data.MySqlClient;

@inject DatabaseService DatabaseService
@inject NavigationManager Navigation
@inject IJSRuntime JS


<PageTitle>Driver Login</PageTitle>

<div class="DL-Container">
    <h3 class="DL-Title">Driver Login</h3>

    <div class="DL-Input-Container">
        <input form="text"
               id="driverId"
               @bind="driverID"
               class="DL-Input form-control"
               placeholder="Enter Driver ID" />
    </div>

    <div class="DL-Button-Container">
        <button @onclick="LoginDriver" class="DL-Button btn btn-primary mt-2">Login</button>
    </div>

    @if (driverError != null)
    {
        <p class="DL-Error">@driverError</p>
    }
</div>
@code {
    // Driver login logic
    string driverName;
    string driverID;
    string driverError;

    private async Task LoginDriver(){
        driverError = driverID;
        //make sure not null
        if(string.IsNullOrWhiteSpace(driverID)){
            driverError = "Please enter a Driver ID";
            return;
        }

        string query = "SELECT drivername FROM driver WHERE driverid = @driverID"; 
        DataTable result = await DatabaseService.ExecuteQueryAsync(query, new MySqlParameter("@driverID", driverID));
        
        //check if valid driver ID
        if(result.Rows.Count > 0){
            driverError = "insideIF";
            driverName = result.Rows[0]["drivername"].ToString(); //probably this
            driverError = null; //reset error message
            Navigation.NavigateTo($"/driver-dashboard?driverID={driverID}");
        }
        else{
            driverError = "Invalid Driver ID";
        }
        return;
    }
}
